body {
	margin: 0;
}

.text1 {
	color: #1B9B35;
}

p {
	color: #BD0000;
	margin-top: 50px;
	margin-bottom: 50px;
}

a:link {
	color: #FFF;
	text-decoration: none;
}

a:visited {
	color: #93EFFF;
}

a:hover {
	color: #5E124A;
	text-decoration: underline
}

a:active {
	color: #27DF2D;
}

#bgred {
	background-color: #FFD3D3;
	width: 200px;
}

.story {
	background-image: url("images/story.png");
	height: 350px;
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: 120px 100px;
}

.story-text {
	background-color: rgba(70, 115, 95, 0.7);
	color: #FFFFE7;
	line-height: 35px;
	float: left;
	width: 400px;
	height: 350px;
	
}

.story-title {
	color: #E2FFFE;
	font-size: 20px;
	font-weight: bold;
}

.story-img {
	width: 380px;
	float: right;
	height: 350px;
	background-image: url("images/story-img.png");
	background-size: auto 350px;
	background-repeat: no-repeat;
	background-position: 150px 0;
}

.banner1-img, .banner2-img {
	margin-top: 100px;
	width: 100%;
}

ul {
	list-style: none;
	float: right;
}

li {
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#20a389+0,217c7b+100 */
	background: #20a389; /* Old browsers */
	background: -moz-linear-gradient(top, #20a389 0%, #217c7b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #20a389 0%,#217c7b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #20a389 0%,#217c7b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20a389', endColorstr='#217c7b',GradientType=0 ); /* IE6-9 */
	-webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 30px;
  border-top-right-radius: 15px;
}

li:hover {
	background-color: #16706B;
}

.top {
	background-color: #185849;
	height: 100px;
	-webkit-box-shadow: 0 8px 20px 1px rgba(0,0,0,0.7), inset 0 3px 18px 7px rgba(40,105,88,0.49);
  -moz-box-shadow: 0 8px 20px 1px rgba(0,0,0,0.7), inset 0 3px 18px 7px rgba(40,105,88,0.49);
  box-shadow: 0 8px 20px 1px rgba(0,0,0,0.7), inset 0 3px 18px 7px rgba(40,105,88,0.49);
}

.menu-list {
	width: 40%;
	float: left;
	height: 605px;
	padding: 0 50px;
	background-image: url("images/menu/menu-list-bg.png");
	-webkit-background-size: 100%;
	background-size: 100%;
}

.menu-img {
	width: 40%;
	float: right;
	background-image: url("images/menu/menu-img-bg.png");
	background-repeat: no-repeat;
	text-align: right;
}

img {
	width: 33%;
}

.footer {
	background-color: #DCDCDC;
	clear: both;
}

.environment-img {
	position: relative;
	float: left;
}

.environment-img h1 {
	position: absolute;
	top: 40px;
	right: 80px;
	color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
	width: 50%;
	padding: 25px;
	text-align: center;
	background-color: rgba(30, 90, 100, 0.6);
}

.environment-img img {
	width: 100%;
}

.top {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.menu-table {
	border-collapse: collapse;
	width: 100%;
	height: 500px;
	color: #fff;
	text-align: center;
}

th {
	border-style: solid;
	border-color: #fff;
	border-width: 1px;
}

td {
	border-style: solid;
	border-color: #fff;
	border-width: 1px;
}

tr:nth-child(odd) {
	background-color: #3E8B9D;
}

tr:nth-child(odd):hover {
	background-color: #4FAEC4;
}

tr:nth-child(even) {
	background-color: #23716B;
}

tr:nth-child(even):hover {
	background-color: #36A098;
}

.div-table {
	display: table;
	border-style: solid;
	border-color: #2C5075;
	border-width: 1px;
	width: 100%;
	height: 500px;
}

.table-tr:nth-child(odd) {
	display: table-row;
	background-color: #3E8B9D;
}

.table-tr:nth-child(odd):hover {
	background-color: #4FAEC4;
}

.table-tr:nth-child(even) {
	display: table-row;
	background-color: #23716B;
}

.table-tr:nth-child(even):hover {
	background-color: #36A098;
}

.table-td {
	display: table-cell;
	border-style: solid;
	border-color: #2C5075;
	border-width: 1px;
}

.contact-table {
	display: table;
	background-color: #285E6E;
	margin-left: 10%;
}

.contact-row {
	display: table-row;
}

.contact-cell {
	display: table-cell;
	padding: 13px;
	border-bottom: 1px dashed #FFFFFF;
	color: #fff;
}

.contact-cell:nth-child(odd) {
	text-align: right;
}

.contact-form {
	background-image: url("images/contact-bg.jpg");
	padding: 20px;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}

#user-name, #mobile, #email, #type {
	height: 35px;
	border-radius: 5px;
	width: 95%;
	padding-left: 5px;
}

#type {
	width: 200px;
}

#more {
	width: 95%;
	height: 200px;
	border-radius: 5px;
}

.submit-btn {
	background-color: #24889D;
	width: 150px;
	height: 50px;
	color: #fff;
	font-size: 16px;
}

.logo-img {
	width: 220px;
	margin-left: 20px;
	margin-top: 20px;
}

.footer {
	padding: 5px;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d542c+0,138c37+52,1d542c+100 */
	background: #1d542c; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #1d542c 0%, #138c37 52%, #1d542c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #1d542c 0%,#138c37 52%,#1d542c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #1d542c 0%,#138c37 52%,#1d542c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d542c', endColorstr='#1d542c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.footer p {
	text-align: center;
	color: #fff;
}

.environment {
	background-color: #326976;
	width: 100%;
	height: 512px;
}

.environment-center {
	width: 1140px;
	margin: 0 auto;
}