.text1 {
	color: #1B9B35;
}

p {
	color: #BD0000;
	margin-top: 50px;
	margin-bottom: 50px;
}

a:link {
	color: #FFF;
	text-decoration: none;
}

a:visited {
	color: #93EFFF;
}

a:hover {
	color: #5E124A;
	text-decoration: underline
}

a:active {
	color: #27DF2D;
}

#bgred {
	background-color: #FFD3D3;
	width: 200px;
}

.story-text {
	width: 800px;
	background-color: #477360;
	color: #FFFFE7;
	line-height: 35px;
}

.story-title {
	color: #E2FFFE;
	font-size: 20px;
	font-weight: bold;
}

.story-image {
	border-style: solid;
	border-width: 2px;
	border-color: #112D2E;
	margin-top: 20px;
	margin-right: 50px;
	margin-bottom: 35px;
	padding-top: 30px;
	padding-left: 25px;
	padding-bottom: 30px;
	padding-right: 40px;
	width: 280px;
}

.banner1-img, .banner2-img {
	width: 100%;
}

ul {
	list-style: none;
	float: right;
}

li {
	display: inline-block;
	background-color: #3F967C;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

li:hover {
	background-color: #16706B;
}

.top {
	background-color: #185849;
	height: 100px;
}

.menu-list {
	width: 40%;
	background-color: #BCFFF0;
	float: left;
	height: 715px
}

.menu-img {
	width: 60%;
	background-color: #DDF0FF;
	float: right;
}

img {
	width: 33%;
}

.footer {
	background-color: #DCDCDC;
	clear: both;
}

.environment-img {
	position: relative;
	float: left;
}

h1 {
	position: absolute;
	top: 40px;
	right: 80px;
	color: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
	width: 50%;
	padding: 25px;
	text-align: center;
}

.environment-img img {
	width: 100%;
}

.top {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.menu-table {
	border-collapse: collapse; /* 去除掉AO的空格 */
	width: 100%;
	height: 500px;
}

th {
	border-style: solid;
	border-color: #2C5075;
	border-width: 1px;
}

td {
	border-style: solid;
	border-color: #2C5075;
	border-width: 1px;
}

tr:nth-child(odd) { /* tre面你去找盗 */
	background-color: #3E8B9D;
}

tr:nth-child(odd):hover {
	background-color: #4FAEC4;
}

tr:nth-child(even) {
	background-color: #23716B;
}

tr:nth-child(even):hover {
	background-color: #36A098;
}